<div class='card-styles'>
           <div class='card'>
            <div class='card-image waves-effect waves-block waves-light'>
                <img class='activator' src={{logos.[0]}}>
            </div>
            <div class='card-content'>
<<<<<<< HEAD
                {{!-- <span class="card-title activator grey-text text-darken-4">{{school}}<i
                        class='material-icons right'>more_vert</i></span> --}}
=======
>>>>>>> 85fa8f52629b94514faf55e7face60bc15bc1b32
            </div>
            <div class='card-reveal'>
                <span class='card-title grey-text text-darken-4'>{{school}}<i
                        class="material-icons right">close</i></span>
                <p>Mascot: {{mascot}}</p>
                <p>Conference: {{conference}}</p>
                <p>Abbreviation: {{abbreviation}}</p>
                <p>City: {{location.city}}</p>
            </div>
        </div>
        <p class="selectbox">
            <label>
                <input type="checkbox" />
                <span>Select</span>
            </label>
        </p>
</div>