<section class='wrapper'>
    <div>
        {{!-- Aoption to add a blub here saying "pick teams" or something --}}
    </div>
    <div class="team-listings">
        <div class="teams-h2">
            <h2>Pick Your Teams</h2>
            <p></p>
        </div>
        <div class="container services">
            {{!-- show the team(s) the user picked here as a card --}}
            <div class='row cardRows'>
                <div class='col s4 m6 l3 center-align'>
                    {{#each teamsAvailable}}
                        <div class='card'>
                            <div class='card-image waves-effect waves-block waves-light'>
                                <img class='activator' src={{logos.[0]}}>
                            </div>
                            <div class='card-content'>
                                {{!-- <span class="card-title activator grey-text text-darken-4">{{school}}<i
                                        class='material-icons right'>more_vert</i></span> --}}
                            </div>
                            <div class='card-reveal'>
                                <span class='card-title grey-text text-darken-4'>{{school}}<i
                                        class="material-icons right">close</i></span>
                                <p>Mascot: {{mascot}}</p>
                                <p>Conference: {{conference}}</p>
                                <p>Abbreviation: {{abbreviation}}</p>
                                <p>City: {{location.city}}</p>
                            </div>
                        </div>
                        <p>
                        <label>
                            <input type="checkbox" />
                            <span>Select</span>
                        </label>
                        </p>                    
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>